---
layout: layouts/base.njk
date: 22-06-2022
---
{{ content | safe }}
<hr>
<aside>
    <p>
        If you liked this post (or didn't) feel free to contact me on <a href="https://matrix.to/#/@ked:denshi.org">Matrix</a>, 
        <a href="xmpp:ked@denshi.org">XMPP</a> or <a href="mailto:kdormer@posteo.net">email</a>. If you wish to email me please
        encrypt it with my <a href="/files/kedgpg.asc">GPG public key</a> if you can.
    </p>
    <p>
        <strong>Published: <time datetime="{{ date | htmlDateString }}">{{ page.date | readableDate}}</time></strong>
    </p>
</aside>