---
layout: layouts/home.njk
title: Kyle Dormer
ctitle: 🌳 Kyle Dormer 💻
description: I write code, drink copious amounts of tea and in my spare time I enjoy being outdoors. This is my personal website, opinions are my own. 
---
<p>
    I write code, drink copious amounts of tea and in my spare time I enjoy being outdoors.
    This is my personal website, opinions are my own. I am currently working as a Magento 2
    developer while studying towards my bachelor's degree.
</p>

<h2>Recent Blog Posts</h2>
{% set postslist = collections.posts | head(-4) %}
<ul>
    {% for post in postslist | reverse %}
        <li><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time> - <a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
</ul>
<a href="/blog">See all posts →</a>

<h2>Contact</h2>
<p>Various methods of contacting me. I prefer Matrix or XMPP (with OMEMO enabled). If you wish to email me please encrypt it with my <a href="/files/kedgpg.asc">GPG key</a> if you can.</p>
<ul>
    <li>XMPP: <a href="xmpp:ked@denshi.org">ked@denshi.org</a></li>
    <li>Matrix: <a href="https://matrix.to/#/@ked:denshi.org">@ked:denshi.org</a></li>
    <li>Email: <a href="mailto:kdormer@posteo.net">kdormer [at] posteo.net</a></li>
</ul>
